
.main{
  color: white;
  height: 60vh;
  background-color:rgba(243,111,126,255);
  background-image: url("https://www.scdn.co/i/home/hero-burst.svg");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1{
font-size: 10ch;
}

.sub{
  color: white;
  padding: 2rem 2rem;
  height: 30vh;
  background-color: black;

}

.col-3{
  display: flex;
  flex-direction: row;
}

.footer{
  color: white;
  padding: 2rem 2rem;
  background-color: black;

}

.right-footer{
  display: flex;
  justify-content: center;
}

.main>button{
  color: white;
  border: 0px;
  padding: 0.8rem 3rem;
  border-radius: 2rem;
  background-color: rgba(29,185,84,255);
}