.App {
  color: white;
}


.nav-icon{
  color: green;
  margin-right: auto;
}

.main{
  color: white;
  height: 60vh;
  background-color: rgb(226,135,67);
  background-image: url("https://www.scdn.co/i/home/hero-burst.svg");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1{
font-size: 10ch;
}

.sub{
  color: white;
  padding: 2rem 2rem;
  height: 30vh;
  background-color: black;

}

.footer{
  color: white;
  padding: 2rem 2rem;
  background-color: black;

}

.right-footer{
  display: block;
  margin-left: auto;
  margin-right: auto;
}